@charset "utf-8";
/* CSS Document */



/*clearFix clear-------------------------------------------------------------------------------*/
.clearFix:after { content:"\cfxixio"; display:block; height:0; clear:both; visibility:hidden;}
.clearFix { zoom:1;}



/* loading */
/***************
*
*   <div class="loading" type="12" small black><span></span></div>
*   不用-webkit-mask-image实现，主要是因为当图片未载入时视觉效果不佳
*
***************/

.loading[type] { display: block; overflow: hidden; -webkit-animation-duration: 1.5s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; -webkit-background-size: 100%; -webkit-transform:rotate(0);}
.loading[type="12"] { width: 35px; height: 35px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12.png) 0 0 no-repeat;}
.loading[type="12"][small] { width: 20px; height: 20px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12_small.png) 0 0 no-repeat;}
.loading[type="8"] { width: 14px; height: 14px; -webkit-animation-name: loadingB; background: url(../images/ui/spinner_type8.png) 0 0 no-repeat;}
.loading[type="12"][black] { width: 35px; height: 35px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12_black.png) 0 0 no-repeat;}
.loading[type="12"][small][black] { width: 20px; height: 20px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12_small_black.png) 0 0 no-repeat;}
.loading[type="8"][black] { width: 14px; height: 14px; -webkit-animation-name: loadingB; background: url(../images/ui/spinner_type8_black.png) 0 0 no-repeat;}

@-webkit-keyframes "loadingA" {
	0%		{ -webkit-transform:rotate(0deg);}
	8.3% 	{ -webkit-transform:rotate(0deg);}
	8.3001%	{ -webkit-transform:rotate(30deg);}
	16.7%	{ -webkit-transform:rotate(30deg);}
	16.7001%{ -webkit-transform:rotate(60deg);}
	25% 	{ -webkit-transform:rotate(60deg);}
	25.001%	{ -webkit-transform:rotate(90deg);}
	33.3% 	{ -webkit-transform:rotate(90deg);}
	33.3001%{ -webkit-transform:rotate(120deg);}
	41.7% 	{ -webkit-transform:rotate(120deg);}
	41.7001%{ -webkit-transform:rotate(150deg);}
	50% 	{ -webkit-transform:rotate(150deg);}
	50.001%	{ -webkit-transform:rotate(180deg);}
	58.3% 	{ -webkit-transform:rotate(180deg);}
	58.3001%{ -webkit-transform:rotate(210deg);}
	66.7% 	{ -webkit-transform:rotate(210deg);}
	66.7001%{ -webkit-transform:rotate(240deg);}
	75% 	{ -webkit-transform:rotate(240deg);}
	75.001% { -webkit-transform:rotate(270deg);}
	83.3% 	{ -webkit-transform:rotate(270deg);}
	83.3001%{ -webkit-transform:rotate(300deg);}
	91.7% 	{ -webkit-transform:rotate(300deg);}
	91.7001%{ -webkit-transform:rotate(330deg);}
	100% 	{ -webkit-transform:rotate(330deg);}
}

@-webkit-keyframes "loadingB" {
	0%		{ -webkit-transform:rotate(0deg);}
	12.5% 	{ -webkit-transform:rotate(0deg);}
	12.5001%{ -webkit-transform:rotate(45deg);}
	25%		{ -webkit-transform:rotate(45deg);}
	25.001%	{ -webkit-transform:rotate(90deg);}
	37.5% 	{ -webkit-transform:rotate(90deg);}
	37.5001%{ -webkit-transform:rotate(135deg);}
	50% 	{ -webkit-transform:rotate(135deg);}
	50.001%	{ -webkit-transform:rotate(180deg);}
	62.5% 	{ -webkit-transform:rotate(180deg);}
	62.5001%{ -webkit-transform:rotate(225deg);}
	75% 	{ -webkit-transform:rotate(225deg);}
	75.001% { -webkit-transform:rotate(270deg);}
	87.5% 	{ -webkit-transform:rotate(270deg);}
	87.5001%{ -webkit-transform:rotate(315deg);}
	100% 	{ -webkit-transform:rotate(315deg);}
}


/* 默认的loading样式 */
/* <div id="pageLoad"><div class="loading" type="12"></div><span>加载中</span></div> */

#_cfxixiui_ { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 99999; display: none;}
#_cfxixiui_ .inner { display: table-row; width: 100%; height: 100%; position: relative;}

#_cfxixiui_ .inner ._cfxixiload_ { height: 72px; width: 100px; position: absolute; left: 50%; top: 50%; overflow: hidden; background: rgba(0,0,0,0.85); padding: 20px 0 8px 0; margin: -90px 0 0 -45px; border-radius: 5px;}
#_cfxixiui_ .inner ._cfxixiload_ .loading { margin: 0 auto 10px auto;}
#_cfxixiui_ .inner ._cfxixiload_ span { display: block; width: 100%; text-align: center; color: #fff; font-size: 14px; height: 22px; line-height: 22px;}

#_cfxixiui_ .inner ._cfxixiphoto_ { display: table-cell; vertical-align: middle;}
#_cfxixiui_ .inner ._cfxixiphoto_ img { display: block; margin: 0 auto;}

#_cfxixiui_ .inner ._cfxixierror_ { height: 72px; width: 100px; position: absolute; left: 50%; top: 50%; overflow: hidden; background: rgba(0,0,0,0.85); padding: 20px 0 8px 0; margin: -90px 0 0 -45px; border-radius: 5px;}
#_cfxixiui_ .inner ._cfxixierror_ span { display: block; width: 100%; text-align: center; color: #fff; font-size: 14px; height: 22px; line-height: 22px;}




/* view样式初始化 */
view { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #f00; z-index: 1; display: none;}
view[show] { display: block;}


.fund-ui-example {
	position: relative;
    margin: 15px 0 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.fund-ui-demo {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
    text-decoration: none;
}
.fund-ui-example .center {
	display: block;
	margin:1em auto;
}
.item pre.prettyprint {
	border-bottom:0;
}
.item pre.prettyprint:last-child {
	border: 1px solid #E1E1E8;
}
.fund-ui-example iframe {
	overflow: hidden;
}

pre {
	white-space: pre;
}
* { -webkit-user-select: auto; -moz-user-select: auto; -webkit-tap-highlight-color: rgba(0,0,0,0);}
input,textarea { -webkit-user-select: auto; -moz-user-select: auto;}
